*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    list-style:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
body{
    background-color: rgb(90, 8, 167);
    box-sizing: border-box;
}

.oculto{
    display:none;
}

/* menu */

h1{
    text-align: center;
    margin: 20px;

}

.botonesMenu{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}


.mibtn{
    font-size: 20px;
    width: 200px;
    margin: 40px;
}

/* seleccion personaje */

.miform{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap:20px;
    margin-top:50px
}

.formulario_titulo-seleccP{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    
}

.formulario_titulo-seleccP p{
    text-decoration: underline;
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}

.formulario_btnRadio{
    width: 200px;
    height: 70px;
    text-align: center;
   display: flex;
   align-items: center;
    justify-content: center;
    
}

/* oculta botones radio */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  /* imagen  */
  [type=radio] + img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    
  }
  
  /* checked  */
  [type=radio]:checked + img {
    width: 65px;
    height:65px;
    
  } 
   
/* canvas estilos */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pausa */

.contenedorPausa{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.estiloPausa{
    height: 250px;
    width: 300px;
  
    position:absolute ;
    margin-top: 448px;
    
}


.estiloPausa-text{
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-pausa{
    margin-top: 20px;
    font-size: 30px;
}

.estiloPausa-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.botonreanudar{
    margin-top: 27px;
}

/* seccion controles */

.box-controles{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 24px;
}

.box-controles_titulo{
     width: 150px;
   
}

.box-controles_titulo p{
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: underline
 
    
}
.box-controles_lista {
    color: #ffc107;
    box-shadow: -1px 1px 16px 0px rgba(255,193,7,0.72);
-webkit-box-shadow: -1px 1px 16px 0px rgba(255,193,7,0.72);
-moz-box-shadow: -1px 1px 16px 0px rgba(255,193,7,0.72);
margin-top: 30px;
    width: 200px;
}
.box-controles_lista li{
    font-size: 19px;
}
.box-controles_lista li svg{
    margin-left: 10px;
    color: white;
}

.box-controles_lista li span{
color: white;
}
.miIcon1{
    margin-left: 40px !important;
}
.miIcon2{
    margin-left: 45px !important;
}
.miIcon3{
    margin-left: 24px !important;
}
.miIcon4{
    margin-left: 20px !important;
}
.miIcon5{
    margin-left: 41px ;
}
.miIcon6{
    margin-left: 30px ;
}
.miIcon7{
    margin-left: 42px ;
}